<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>WebRem</display-name>
  <welcome-file-list>
    <welcome-file>HomePage.jsp</welcome-file>
    <welcome-file>searchaccount.jsp</welcome-file>
    <welcome-file>display.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AccountControllerServlet</display-name>
    <servlet-name>AccountControllerServlet</servlet-name>
    <servlet-class>com.ilp.tcs.controller.AccountControllerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccountControllerServlet</servlet-name>
    <url-pattern>/AccountControllerServlet</url-pattern>
  </servlet-mapping>
</web-app>